* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(240, 108, 57)
}

img {
    border-radius: 50%;
    margin: 2px;
}

.btn {
    /* width: auto; */
    /* height: 40px; */
    text-align: right;
    border-radius: 4px;
    padding: 20px;
    border-radius: 50%;
}

.table td {
    color: white;
    background-color: #1f2020;
    /* margin: 40px; */
    /* border: 1px rgb(241, 240, 240) solid; */
    padding: 10px 40px;
    text-align: center;
    border: 0px;
    border-spacing: 20px;
}

.table {
    width: 700px;
    margin: 50px 400px;
    background-color: #1e7e34;
    color: rgb(196, 243, 243);
    /* border: 2px solid lightsalmon; */
    border-radius: 8px;
}

.table tr {
    border-bottom: 2px solid rgb(15, 15, 15);
    border-top: 2px solid rgb(15, 15, 15);
    /* margin-bottom: 20px; */
    border-spacing: 20px;
}
